
@font-face {
    font-family: "EuclidReg";
    src: local("EuclidReg"),
     url(~/assets/fonts/EuclidReg.ttf) format("truetype");
  }
  @font-face {
    font-family: "EuclidMd";
    src: local("EuclidMd"),
        url(~/assets/fonts/EuclidMd.ttf) format("truetype")
  }
@font-face {
    font-family: "EuclidBold";
    src: local("EuclidBold"),
        url(~/assets/fonts/EuclidBold.ttf) format("truetype")
  }

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: inherit;
    box-sizing: border-box;
  }

  h1, h2, h3{
    font-family: "EuclidBold";
  }
  
  body{
    font-family: "EuclidReg";
  }
  label{
    display: block;
  }
  
  button{
    border: none;
    background: none;
    font-family: inherit;
    cursor: pointer;
    &:hover{
      cursor:pointer
    }
  }

  .section-title{
    font-size: 24px;
    margin-bottom: 16px;
    @media(min-width: 768px){
      font-size: 32px;
      margin-bottom: 24px;
    }
    @media(min-width: 992px){
      font-size: 40px;
    }
  }

  .orange-btn{
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    margin-bottom: 16px;
    text-transform: uppercase;
    background: #FFBF60;
    cursor: pointer;
    @media(min-width: 992px){
      width: 230px;
    }
  }
  .yellow-btn{
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    background: #FDDF55;
    text-decoration: none;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    @media(min-width: 992px){
      width: 230px;
    }
  }
  
  ul{
    list-style: none;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  strong{
    font-family: "EuclidBold";
    font-size: 18px;
  }